# ~/.config/systemd/user/skimtube.timer
[Unit]
Description=Run skimtube every 6 hours

[Timer]
OnCalendar=00/6:00
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
